@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #ffff;
}
body{
    margin: auto;
    overflow-x: hidden;
}
:root{
    --mainColor:#508480; 
    --grayColor: #AFADB5;
}

/* START NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 5px 0px;
}

/* nav .ul_items {} */

nav .ul_items ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .ul_items ul a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

.logo {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

nav .nav_icons .bi {
    font-size: 25px;
    padding-left: 10px;
}

hr {
    border: 0.2px solid rgb(236, 236, 236);
}
.toggleIcon{
    font-size: 45px;
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
}
/* END NAV */

/* START firstSection */
.firstSection{
    text-align: center;
}
.firstSection p{
    line-height: 1.5;
    color: var(--grayColor);
    padding: 0 5px 0 20px;
}
.Image img{
    background-size: cover;
    width: 100vw;
}
/* END firstSection */

/* START categorySection */
.categorySection{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px 75px;
}
.category , .TotalCategory{
    cursor: pointer;
    border-style: none;
    font-size: 20px;
    padding-bottom: 10px;
}
.TotalCategory{
    border-bottom-color: var(--mainColor);
    border-bottom-style: solid;
}
/* END categorySection */

/* START productSection */
.productImage{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.productSection{
    display: flex;
    padding: 5px 40px 30px 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 35px 70px;
}
.product {
    box-shadow: 0 0 20px 1px lightgrey;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.product p{
    color: var(--grayColor);
    margin: 10px 0 10px 0;
}
.product h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* END productSection */

/* START footer */
footer{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 10px 60px;
    gap: 0px 60px;
}
.secondPart{
    display: flex;
    gap: 90px;
}
.Details{
    color: var(--grayColor);
}
.hr{
    margin: 10px 35px;
}

/* END footer */

/* START MEDIA QUERY */
@media(max-width:1200px){
    .productSection{
        gap: 15px 20px;
    }
    .secondPart{
        gap: 25px;
    }
}

@media(max-width:768px){
    .toggleIcon{
        display: block;
    }
    .logo{
        padding: 5px 20px;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .ul_items {
        display: none;
        transition: 0.3s;
        width: 100vw;
    }
    nav a{
        background: none;
    }
    .ul_items ul{
        flex-direction: column;
        margin-right: 50px;
        padding: 20px;
        text-align: center;
    }
    .ul_items li{
        padding: 15px;
        transition: 0.3s;
        width: 90vw;
    }
    nav ul li:hover{
        background-color: var(--grayColor);
    }
    nav .nav_icons{
        display: none;
    }
    .d_flex{
        display: flex;
    }
    .categorySection{
        gap: 15px;
        padding: 15px 10px;   
    }
    .productSection{
        gap: 40px 70px ;
    }
    footer{
        display: block;
    }
}
/* END MEDIA QUERY */