* {
    font-family: sans-serif;
}
:root {
    --tealColor: #518581;
  --orange: #ffb23f;
  --arrow: #a6d8d2;
  --black: #151411;
  --gray: #afadb5;
  --dark-gray: #444341;
  --light-gray: #eee;
  --footerColor: #151411ae;
    
}
.body {
    margin: 0px;
    padding: 0px;
}

.image {
    width: 50%;
    height: 100%;
    float: right;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.login input {
    margin: 0px;
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: black;
}

.submit {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    color: white;
    width: 200px;
    height: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;

}

.submit:hover {
    background-color: white;
    border-color: var(--mainColor);
    color: var(--mainColor);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}