@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka One', 'cursive';
    font-family: 'Poppins', sans-serif;
}

:root{
    --headerscolor:#151411;
    --pcolor: #AFADB5;
    --maincolor:#518581;
    --yellow:#FFB23F;
    --white:#FFFFFF;
    --linecolor:#F3F3F3;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
}

h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
}

h5{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
}

h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
}

p{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
}

/* START NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 10px 20px;

}

nav ul li:hover a {
    color: var(--mainColor);
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.logo {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

nav .nav_icons .bi {
    font-size: 25px;
    padding-left: 10px;
}

hr {
    border: 0.2px solid rgb(221, 214, 214);
}

.toggleIcon {
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 40px;
    display: none;
}

.logIn , .signUp{
    display: none;
}

/* END NAV */
/* FIRSTSECTION */
.firstsection{
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 100px;
    padding-bottom: 50px;
    gap: 20px;
}
.firstsection h1{
    text-align: center;    
    color:var(--headerscolor) ;
}

.firstsection p{
    /* width: 505px;  */
    color: var(--pcolor);
}
.firstsection img{
    width: 100%;
    padding-top: 30px;
}
.hr{
    border: 1px solid var(--linecolor);
    margin: 0% 100px;
}

/* SECOND SECTION */

.secondsection{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 100px;
    padding-top: 50px;
    gap: 58px;
}
.secondsection div h1{
    color: var(--maincolor);
    padding-bottom: 26px;
}
.secondsection div h6{
    color: var(--headerscolor);
}
.secondsection div p{
    color: var(--pcolor);
    padding-top:6px ;
}

/* THIRD SECTION */
.thirdsection{
    padding-left: 60px;
    padding-right: 60px;
}
.portfolio{
    color: var(--yellow);
    font-weight: 700;
    /* padding-left: 100px; */
}
.header{
    display: flex;
    justify-content: space-between;
    /* padding:1%  100px; */
    gap: 150px;
}
.firstpart {
    color: var(--headerscolor);
}
.secondpart p:nth-child(1){
    color: var(--pcolor);
}
.secondpart p:nth-child(2){
    color: var(--maincolor);
    padding-top: 2.5%;
    font-weight: 700;
}
.secondpart p:nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
}
.photocards{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2,1fr);
    /* padding: 2.5% 100px; */
    gap: 30px;    
}
 .firstphoto{
    grid-row: 1/3;
}
.secondpic2 , .thirdpic2{
    display: none;
}
 .firstphoto img{
    width:100%;
    height: 100%;
    
}
.secondphoto img{
    width: 100%;
    height: 100%;
}
.thirdphoto img{
    width: 100%;
    height: 100%;
}  

.firstphoto ,.secondphoto ,.thirdphoto{
    position: relative;
}
.firstphoto .st , .secondphoto .st , .thirdphoto .st{
    position: absolute;
    bottom:100px;
    color: var(--white);
    padding: 5.5%;
}
.firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
    position: absolute;
    bottom:50px;
    padding: 5.5%;
    font-size: 16px;
    color: var(--white);
    opacity: 0.7;
}
.firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
    position: absolute;
    bottom:0px;
    padding: 5.5%;
    color: var(--white);
}
.firstphoto .rd:hover , .secondphoto .rd:hover , .thirdphoto .rd:hover{
    cursor: pointer;
    color:var(--maincolor);
}
/* .thirdsectionfooter{
    padding: 6.5% 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

} */
/* .thirdsectionfooter .interest{
    font-size: 50px;
    font-weight: bold;
} */
/* .talkbutton{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--maincolor);
    padding: 15px 25px;
}
.talkbutton:hover{
    border: 2px solid var(--maincolor);
    background-color: var(--white);
    cursor: pointer;
}
.talkbutton:hover p{
    color:var(--maincolor);

}
.talkbutton:hover .arrow{
    fill:var(--maincolor);
}
.talkbutton p{
    color: var(--white);
    font-size: 25px;
}
.arrow{
    fill: var(--white);
    width: 35px;
    height: 35px;
} */
.talk {
    background-color: var(--maincolor);
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 30px;
    width: 180px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .thirdsectionfooter {
      display: flex;
      justify-content: space-between;
      padding: 150px 0px 86px;

  }
  .talk:hover{
    background-color: var(--white);
    color: var(--maincolor);
    border: 1px solid var(--maincolor);
    cursor: pointer;
  }
/* @media (min-width:1291px) and (max-width:1600px) {
    .firstsection p{
        padding:0px 240px;
    }
} */
@media screen and (max-width:1290px){
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom: 65px;
        font-size: 18px;

    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:35px;
        font-size: 12px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 24px;

    }
}
@media screen and (max-width:1170px) {
    .firstsection , .secondsection , .thirdsection{
        padding-left: 60px;
        padding-right: 60px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom: 60px;
        font-size: 25px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:35px;
        font-size: 13px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 20px;
    }
}
@media screen and (max-width:1118px) {
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom: 60px;
        font-size: 23px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:30px;
        font-size: 12.5px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 18px;
    }
}
@media screen and (max-width:1086px) {
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:20px;
        font-size: 12.5px;
    }
}
@media screen and (max-width:1024px) {

    .thirdsection .header .firstpart p{
        font-size: 35px;
    }
    .header{
        gap: 20px;
    }
}
@media screen and (max-width:976px) {
    .secondsection{
        grid-template-columns: repeat(2 , 1fr);
    }
    .header{
        gap: 20px;
    }
    
    .photocards{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1,1fr);
    }
    .secondpic1 , .thirdpic1{
        display: none;
    }
    .secondpic2,.thirdpic2{
        display: block;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:100px;
        font-size: 30px;
    }
    
    
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:60px;
        font-size: 25px;
    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 30px;
    }
    .firstphoto{
        grid-row: 1/2;
    }
}
@media screen and (max-width:870px) {
    
h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
}

h2{
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
}

h5{
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
}

h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
}

p{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
}

    .thirdsection .header .firstpart p{
    }
    .firstsection h1{
        font-size: 60px;
        padding-bottom: 10px;
    }
    .firstsection p{
        text-align: center;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:100px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:60px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
    }
    .thirdsectionfooter{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
}
@media screen and (max-width:768px) {
    .toggleIcon {
        display: block;
    }

    .logo {
        padding: 5px 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .ul_items {
        display: none;
        transition: 0.3s;
        width: 100vw;
    }
    nav a {
        background: none;
    }
    .ul_items ul{
        flex-direction: column;
        margin-right: 50px;
        padding: 20px , 0;
        text-align: center;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        padding: 15px 0px;
    }
    nav .nav_icons {
        display: none;
    }
    .logIn , .signUp{
        display: block;
    }
    
}
@media screen and (max-width:727px) {
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:100px;
        font-size: 30px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:60px;
        font-size: 17px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 20px;
    }
}

@media screen and (max-width:686px) {
    .secondsection{
        grid-template-columns: repeat(1,1fr);
    }
    .header{
        flex-direction: column;
        gap: 10px;
    }
    .portfolio{
        padding-top: 150px;
    }
    .thirdsectionfooter{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }

}
@media screen and (max-width:590px) {
    .firstpart{
        font-size: 40px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:100px;
        font-size: 35px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:45px;
        font-size: 18px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 23px;
    }
}

@media screen and (max-width:512px) {
    .interest p{
        font-size: 40px;
    }
    
}

@media screen and (max-width:450px) {
    .firstsection p{
        font-size: 25px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:100px;
        font-size: 30px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:45px;
        font-size: 15px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 20px;
    }
}
@media screen and (max-width:366px) {
    .firstsection h1{
        font-size: 50px;
    }
    .firstsection p{
        font-size: 20px;
    }
    .secondsection div h1{
        font-size: 50px;
    }

    .secondsection div .label{
        font-size: 23px;
    }

    .secondsection div .par{
        font-size: 18px;
    }
    .firstpart{
        font-size: 33.5px;
    }
    .secondpart p:nth-child(1){
        font-size: 18px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:80px;
        font-size: 30px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:35px;
        font-size: 18px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: 0px;
        font-size: 20px;
    }
    .interest p{
        font-size: 25px;
    }
    .talkbutton{
        padding:7px;
    }
}
@media screen and (max-width:330px) {
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:70px;
        font-size: 20px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:30px;
        font-size: 13px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: -10px;
        font-size: 17px;
    }
}
@media screen and (max-width:287px) {
    .firstsection h1{
        font-size: 40px;
        padding: 0px 3px;
        padding-top: 35px;
    }
    .firstsection p{
        font-size: 15px;
        padding: 0px 3px;
    }
    .secondsection div h1{
        font-size: 45px;
    }
    .secondsection div .label{
        white-space: nowrap;        
    }
    .secondsection div .par{
        line-height: 20px;
        font-size: 15px;
    }
    .firstpart{
        font-size: 18px;
        line-height: 25px;
    }
    .secondpart p:nth-child(1){
        line-height: 20px;
        font-size: 12px;
    }
    .portfolio , .secondpart p:nth-child(2){
        font-size: 13px;
    }

    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:80px;
        font-size: 17.5px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:35px;
        font-size: 13px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: 0px;
        font-size: 14px;
    }
    .interest p{
        font-size: 20px;
    }
    .talkbutton{
        padding:7px;
    }
}
@media screen and (max-width:237px) {
    .secondsection div .label{
        font-size: 20px;
    }
    .secondsection div .par{
        line-height: 20px;
        font-size: 15px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:65px;
        font-size: 15px;
        line-height: 20px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:35px;
        font-size: 10px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: 0px;
        font-size: 14px;
    }
    .talkbutton p{
        white-space: nowrap;
    }
}
@media screen and (max-width:206px) {
    .firstsection h1{
        font-size: 35px;
        padding: 0px 3px;
        padding-top: 35px;
    }
    .firstsection p{
        font-size: 13px;
        padding: 0px 3px;
    }
    .secondsection div h1{
        font-size: 40px;
    }
    .secondsection div .label{
        font-size: 18px;       
    }
    .secondsection div .par{
        line-height: 20px;
        font-size: 13px;
    }
    .firstphoto .st , .secondphoto .st , .thirdphoto .st{
        bottom:60px;
        font-size: 13px;
    }
    .firstphoto .nd , .secondphoto .nd , .thirdphoto .nd{
        bottom:25px;
        font-size: 10px;

    }
    .firstphoto .rd , .secondphoto .rd , .thirdphoto .rd{
        bottom: 0px;
        font-size: 12px;
    }
    .interest p{
        font-size: 17px;
    }
    .talkbutton p{
        font-size: 18px;
    }
}
