* {
    font-family: sans-serif;
}

:root {
    --tealColor: #518581;
  --orange: #ffb23f;
  --arrow: #a6d8d2;
  --black: #151411;
  --gray: #afadb5;
  --dark-gray: #444341;
  --light-gray: #eee;
  --footerColor: #151411ae;

    
}
.body {
    margin: 0px;
    padding: 0px;
}

.image {
    width: 50%;
    height: 100%;
    float: right;
}

.loginbox {
    justify-content: space-around;
    align-content: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    transform: translate(200px, 0px);

}

.inputfields {
    flex-direction: column;
}

.loginbox input {

    margin: 0px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: black;
}

#name {
    margin: 10px;
    width: 50%;
}

#email,
#address,
#password {
    width: 90%;
}

h1 {
    text-align: left;

}

.submit {
    background-color:var(--mainColor);
    width: 200px;
    height: 75px;
    border-radius: 5px;
    border-color: var(--mainColor);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translate(70px, 0px);
}

.submit:hover {
    background-color: white;
    border-color: var(--mainColor);
    color: var(--mainColor);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.bottom {
    font-size: 16px;
}
a{
    color: green;
}